.hotdog {
  color: red;

}

.square {
  width: 100px;
  height: 100px;
  background-color: magenta;
  position: absolute;
  margin-right: 10px;
}

.center {
  text-align:center;
}

.mom {
  color: #4fbbd7;
}

p {
  font-size: 1000px;
}